.mytable{ width: 100%;border-collapse: collapse; }

/* styling table */
tr:nth-of-type(odd) {background: #eee; }
th { background: #333; color: white; font-weight: bold; }
td, th { padding: 6px; border: 1px solid #ccc; text-align: left; }

/* Responsive styling */
@media (max-width: 1023px) {
	table thead{display:none;}
	table td{display:block;}
	td, th{border:0;}
	
	td:before{content: '('attr(data-title)'):\00a0'; font-weight:bold;display:block; float:left; width:40%;}
	tr{border: 1px solid #ccc;}
}


@media (max-width: 800px) {
	td:before{display:inline; float:none; width:inherit;}
}